asgiref
boto
certifi
cffi
charset-normalizer
colorama
colorlog
cryptography
Deprecated
distlib
Django
django-cors-headers
django-crispy-forms
django-markwhat
djangorestframework
djangorestframework-simplejwt
filelock
gcloud
googleapis-common-protos
gunicorn
httplib2
idna
jwcrypto
keyring
markdown2
oauth2client
Pillow
pip
platformdirs
protobuf
pyasn1
pyasn1-modules
pycparser
pycryptodome
PyJWT
pyparsing
Pyrebase4
python-jwt
pytz
requests
requests-toolbelt
rsa
setuptools
six
sqlparse
tornado
tzdata
urllib3
whitenoise
wrapt