@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #11131E;
}

body {
  margin: 0;
  background-color: #F5F9FE;
}

.padding-x {
  padding: 0 8vw;
}

.padding-x.padding-y {
  padding: 1.3in 8vw;
}

.pb0 {
  padding-bottom: 0 !important;
}

.main-image {
  left: 8vw;
}

#root,
body,
html {
  position: relative;
  z-index: -99;
}

body {
  overflow-x: hidden;
}

@media all and (min-width: 768px) {
  .padding-x {
    padding: 0 12vw;
  }
  .padding-x.padding-y,
  .s-cart {
    padding: 1.8in 12vw;
  }
  .main-image {
    left: 12vw;
  }
}

@media all and (min-width: 1200px) {
  .padding-x {
    padding: 0 14vw;
  }
  .padding-x.padding-y,
  .s-cart {
    padding: 1.8in 14vw;
  }
}