@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Karma', sans-serif;
}

body {
  margin: 0;
}

.padding-x {
  padding: 0 10vw;
}

.padding-x.padding-y {
  padding: 1.5in 10vw;
}


#root,
body,
html {
  position: relative;
  z-index: -99;
}

body {
  overflow-x: hidden;
}

a.active {
  color: #E0AFA0;
  font-weight: bold;
}

@media all and (min-width: 800px) {
  .padding-x {
    padding: 0 12vw;
  }
  .padding-x.padding-y {
    padding: 1.8in 12vw;
  }
}

@media all and (min-width: 1200px) {
  .padding-x {
    padding: 0 14vw;
  }
  .padding-x.padding-y {
    padding: 1.8in 14vw;
  }
}